.font-1 {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-primary);
}

.font-2 {
    font-family: 'Fira Sans', sans-serif;
    color: var(--text-secondary);
}

.text-warning {
    color: var(--warning);
}

.text-primary {
    color: var(--text-primary) !important;
}

.text-secondary {
    color: var(--text-secondary) !important;
}

.text-sm {
    font-size: 1.2rem;
}

.text-md {
    font-size: 1.8rem;
}

.text-lg {
    font-size: 2.5rem;
}

.text-regular {
    font-weight: 400;
}

.text-bold {
    font-weight: 700;
}

.text-center {
    text-align: center;
}

.bg-1 {
    background-color: var(--primary);
}

.bg-2 {
    background-color: var(--secondary);
}

.bg-3 {
    background-color: var(--accent);
}

.bg-none {
    background: none;
}

.btn {
    font-weight: 700;
    color: var(--text-primary);
    padding: 0.2em 0.75em;
    border-radius: 1000px;
}

.border-1 {
    border: 2px solid var(--text-primary);
}

.border-2 {
    border: 2px solid var(--text-secondary);
}

.border-3 {
    border: 2px solid var(--accent);
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.py-section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.border-box {
    box-sizing: border-box;
}

.pointer {
    cursor: pointer;
}

.default {
    cursor: default;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.gap-sm {
    gap: 15px;
}

.gap-md {
    gap: 30px;
}

.gap-lg {
    gap: 45px;
}

.relative {
    position: relative;
}