.font-1 {
    font-family: 'Google Sans', sans-serif;
    color: var(--text-primary);
}

.font-2 {
    font-family: 'Fira Sans', sans-serif;
    color: var(--text-secondary);
    line-height: 1.05em;
}

.text-warning {
    color: var(--warning);
}

.text-danger {
    color: var(--danger);
}

.text-primary {
    color: var(--text-primary) !important;
}

.text-secondary {
    color: var(--text-secondary) !important;
}

.text-sm {
    font-size: 1.1rem;
}

.text-md {
    font-size: 1.8rem;
}

.text-lg {
    font-size: 2.5rem;
}

.text-regular {
    font-weight: 400;
}

.text-bold {
    font-weight: 700;
}

.text-center {
    text-align: center;
}

.bg-1 {
    background-color: var(--primary);
}

.bg-2 {
    background-color: var(--secondary);
}

.bg-3 {
    background-color: var(--accent);
}

.bg-none {
    background: none;
}

.btn {
    font-weight: 700;
    color: var(--text-primary);
    padding: 0.15em 0.75em;
    border-radius: 15px;
}

.floating-img {
    box-shadow: 0 4px 10px var(--text-secondary);
    border-radius: 15px;
}

.rounded {
    border-radius: 15px;
}

.border-1 {
    border: 2px solid var(--text-primary);
}

.border-2 {
    border: 2px solid var(--text-secondary);
}

.border-3 {
    border: 2px solid var(--accent);
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.p-xsm {
    padding: 7px;
}

.px-lg {
    padding-left: 45px;
    padding-right: 45px;
}

.py-sm {
    padding-top: 15px;
    padding-bottom: 15px;
}

.py-lg {
    padding-top: 45px;
    padding-bottom: 45px;
}

.py-top-section {
    padding-top: 80px;
}

.py-bottom-section {
    padding-bottom: 80px;
}

.py-section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.border-box {
    box-sizing: border-box;
}

.pointer {
    cursor: pointer;
}

.default {
    cursor: default;
}

.flex {
    display: flex;
}

.row-reverse {
    flex-direction: row-reverse;
}

.shrink-1 {
    flex-shrink: 1;
}

.nowrap {
    flex-wrap: nowrap;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.flex-column {
    flex-direction: column;
}

.gap-sm {
    gap: 15px;
}

.gap-md {
    gap: 30px;
}

.gap-lg {
    gap: 45px;
}

.mb-section {
    margin-bottom: 80px;
}

.mb-sm {
    margin-bottom: 15px;
}

.relative {
    position: relative;
}

.wave {
    margin-bottom: -5px;
    height: 150px;
    width: 100vw;
    object-fit: cover;
}

.clean-a {
    text-decoration: none;
}