.financial-data {
    width: min(600px, 40%);
}

.benefits-list {
    padding-left: 25px;
    width: min(700px, 45%);
}

.benefits-list h3 {
    margin-bottom: 15px;
}

.benefits-list h3::before {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
    background-color: var(--text-primary);
    border-radius: 50%;
    z-index: 1;
}

.benefits-list li:nth-of-type(1),
.benefits-list li:nth-of-type(2) {
    padding-bottom: 45px;
}

.benefits-list li:nth-of-type(1)::after,
.benefits-list li:nth-of-type(2)::after {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    top: 10px;
    left: -20px;
    background-color: var(--text-secondary);
    z-index: 0;
    opacity: 0.5;
}

@media only screen and (max-width: 768px) {
    .benefits-list {
        width: 80%;
    }

    .financial-data {
        width: 60%;
        min-width: 270px;
    }
}