.email-form {
    z-index: 3;
}

.email-form input,
.email-form textarea {
    background: none;
}

.form-container img {
    width: 420px;
}

.email-form textarea {
    resize: none;
}

.email-form label {
    margin-bottom: 5px;
}

.email-form:-webkit-autofill,
.email-form:-webkit-autofill:hover,
.email-form:-webkit-autofill:focus {
    font-family: inherit !important;
    font-size: inherit !important;
    background-color: var(--primary);
}

@media only screen and (max-width: 1024px) {
    .form-container {
        gap: 45px;
    }

    .email-form {
        padding: 0;
    }
}

@media only screen and (max-width: 600px) {
    .form-container img {
        width: 80%;
    }

    .email-form {
        width: 80%;
    }

    .input-div {
        flex-direction: column;
        align-items: center;
    }

    .input-div div {
        width: 100%;
        align-items: stretch;
    }
}