.header {
    padding: 15px 30px;
    position: fixed;
    top: 0;
    z-index: 999999;
}

.header::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 100%;
    bottom: -20px;
    left: 0;
    background: linear-gradient(to bottom, #33333317, transparent);
}

.header .header-logo {
    text-decoration: none;
}

.nav-text {
    transition: color 200ms ease-in-out;
}

.nav-text:hover {
    color: var(--text-primary);
}

@media only screen and (max-width: 768px) {
    .nav-text {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .header {
        padding: 8px 16px;
    }
}